body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

figure {
    margin: 0;
    position: relative;
    background-color: #f6f6f6;
    height: 541px;

}

figure img {
    width: 100%;
    height: 540px;
    object-fit: cover;
    object-position: top;
}

figcaption {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 100px;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

h1 {
    font-family: shrikhand;
    font-size: min(max(20px, 7vw), 48px);
    letter-spacing: 1px;
    padding: 7% 0 0 6%;
    margin: 0;
}

.fa-heart {
    font-size: min(max(20px, 7vw), 48px);
    padding: 8% 6% 0 0;
}

ul {
    width: 90%;
    padding: 6% 4% 6% 6%;
    margin: 0;
}

h2 {
    font-size: min(max(18px, 5vw), 24px);
    margin: 5px 0;
    font-weight: 100;
}

.traitBleu {
    background-color: #99E2D0;
    height: 3.5px;
    width: 60px;
}

main ul li button {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: min(max(17px, 4.5vw), 23px);
    font-weight: 700;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 7px 11px 0px #c6c6c6;
    cursor: pointer;

}

main ul li {
    margin: 20px 0 20px 0;
    height: 95px;
    width: 100%;
    animation: apparition 3s linear;
}

@keyframes apparation {
    0% {
        opacity: 0;
        margin-top: 40px;
    }

    100% {
        opacity: 1;
        margin-top: 20px;
        background-color: coral;

    }
}

main ul li:nth-child(1) {
    animation-delay: 0s;
}

main ul li:nth-child(2) {
    animation-delay: 1s;
}

main ul li:nth-child(3) {
    animation-delay: 2s;
}

.text {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    justify-content: space-evenly;
    text-align: start;
    text-overflow: ellipsis;
}

main ul li button:focus .text,
main ul li button:active .text,
main ul li button:target .text {
    width: 65%;
    animation: width 0.4s linear;
}

@keyframes width {
    0% {
        width: 82%;
    }

    100% {
        width: 65%;
    }
}


h3 {
    font-size: min(max(16px, 5vw), 24px);
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

p {
    font-size: min(max(15px, 4.5vw), 26px);
    font-weight: 100;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

.prix {
    width: 15%;
    height: calc(100% - 18px);
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: end;

}

.check {
    color: white;
    background-color: #99E2D0;
    border-radius: 0 20px 20px 0px;
    width: 20%;
    height: 100%;
    display: none;

}

main ul li button:focus .check,
main ul li button:active .check,
main ul li button:target .check {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide 0.4s linear;
}

@keyframes slide {
    0% {
        display: flex;
        width: 0%;
    }

    100% {
        width: 20%;
    }
}

.fa-check-circle {
    animation: rotation 0.4s linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);

    }

}

main ul:nth-child(4) li:nth-child(5) {
    margin-bottom: 70px;
}

main ul:nth-child(4) div:nth-child(6) {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}