html {
    font-family: 'Roboto', sans-serif;
}

body {
    width: auto;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h3 {
    margin: 0;
}

li {
    list-style: none;
}

/***************LOADER***********/
.loader {
    position: absolute;
    z-index: 1;
    width: 1px;
    height: 1px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: loader 3s linear 0s backwards;
}

@keyframes loader {
    1% {
        opacity: 1;
        width: 100%;
        height: 100%;

    }

    90% {
        opacity: 1;

    }

    99% {
        width: 100%;
        height: 100%;
    }

    100% {
        display: none;
    }
}

.boxLoader {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    position: relative;
    animation: spin 1.5s linear 0s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dotLoader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(17, 17, 17, 0.2);
    margin: 10px;
    animation: dot 3s linear infinite;
    position: absolute;
}

@keyframes dot {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
        background-color: #9356DC;
    }

    50% {
        background-color: #99E2D0;
    }

    100% {
        transform: rotate(360deg);
        background-color: #FF79DA;
    }
}

.dotLoader:nth-child(1) {
    animation-delay: 0s;
    top: 30px;
    left: 5px
}

.dotLoader:nth-child(2) {
    animation-delay: 0.75s;
    top: 0px;
    left: 40px;
}

.dotLoader:nth-child(3) {
    animation-delay: 1.5s;
    left: 90px;
    top: -8px;
}

.dotLoader:nth-child(4) {
    animation-delay: 2.25s;
    top: 13px;
    right: 18px
}

/*************header****************/
header {
    width: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0px 7px 11px 0px #c6c6c6;
    position: relative;
}

.btnRetour {
    font-size: min(max(22px, 5vw), 28px);
    color: black;
    position: absolute;
    left: 20px;
    top: 35%;
}

header img {
    width: 40%;
    max-width: 330px;
    margin: 20px 0 20px;

}

/***********bouton violet dégradé*************/

.btnViolet {
    border-radius: 40px;
    border-width: 0;
    height: 70px;
    width: 100%;
    max-width: 310px;
    padding: 0;
    background: linear-gradient(175deg, #FF79DA, #9356DC);
    box-shadow: 0px 2px 6px 0px #c6c6c6;
    cursor: pointer;

}

.btnViolet span {
    font-size: min(max(18px, 4.5vw), 23px);
    color: white;
}

.btnViolet:hover {
    background: linear-gradient(175deg, #fc91de, #a778e2);
    box-shadow: 0px 7px 11px 0px #c6c6c6;


}

/********************LE COEUR******************************/
.coeur {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: fit-content;
}

.coeurIndex {
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.fa-heart {
    font-size: 28px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

.coeur:focus .fa-heart {
    background-clip: text;
    -webkit-background-clip: text;
    animation: remplissage 0.2s forwards;
    -webkit-text-stroke-width: 0;

}

@keyframes remplissage {
    0% {
        background-image: linear-gradient(175deg, transparent 100%);
    }

    5% {
        background-image: linear-gradient(175deg, transparent 70%, #fc91de 1%, #a778e2 2%);
    }

    10% {
        background-image: linear-gradient(175deg, transparent 90%, #fc91de 5%, #a778e2 5%);
    }

    15% {
        background-image: linear-gradient(175deg, transparent 85%, #fc91de 7%, #a778e2 8%);
    }

    20% {
        background-image: linear-gradient(175deg, transparent 80%, #fc91de 10%, #a778e2 10%);
    }

    25% {
        background-image: linear-gradient(175deg, transparent 75%, #fc91de 12%, #a778e2 13%);
    }

    30% {
        background-image: linear-gradient(175deg, transparent 70%, #fc91de 15%, #a778e2 15%);
    }

    35% {
        background-image: linear-gradient(175deg, transparent 65%, #fc91de 17%, #a778e2 18%);
    }

    40% {
        background-image: linear-gradient(175deg, transparent 60%, #fc91de 20%, #a778e2 20%);
    }

    45% {
        background-image: linear-gradient(175deg, transparent 55%, #fc91de 22%, #a778e2 23%);
    }

    50% {
        background-image: linear-gradient(175deg, transparent 50%, #fc91de 25%, #a778e2 25%);
    }

    55% {
        background-image: linear-gradient(175deg, transparent 45%, #fc91de 27%, #a778e2 28%);
    }

    60% {
        background-image: linear-gradient(175deg, transparent 40%, #fc91de 30%, #a778e2 30%);
    }

    65% {
        background-image: linear-gradient(175deg, transparent 35%, #fc91de 32%, #a778e2 33%);
    }

    70% {
        background-image: linear-gradient(175deg, transparent 30%, #fc91de 35%, #a778e2 35%);
    }

    75% {
        background-image: linear-gradient(175deg, transparent 25%, #fc91de 37%, #a778e2 38%);
    }

    80% {
        background-image: linear-gradient(175deg, transparent 20%, #fc91de 40%, #a778e2 40%);
    }

    85% {
        background-image: linear-gradient(175deg, transparent 15%, #fc91de 42%, #a778e2 43%);
    }

    90% {
        background-image: linear-gradient(175deg, transparent 10%, #fc91de 45%, #a778e2 45%);
    }

    95% {
        background-image: linear-gradient(175deg, transparent 5%, #fc91de 47%, #a778e2 48%);
    }

    100% {
        background-image: linear-gradient(175deg, #fc91de, #a778e2);
    }
}

.coeur:visited fa-heart {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(175deg, #fc91de, #a778e2);
}

/**********************************************************/
footer {
    background-color: #303030;
    padding: 40px 45px;
}

footer img {
    filter: invert(1);
    width: 150px;
    margin-bottom: 20px;
}

footer ul {
    padding: 0;
    line-height: 2;
    word-spacing: 2px;
}

footer li {
    color: #e6e6e6;
    font-size: min(max(14px, 3.5vw), 19px);
}

footer ul li .fas {
    margin-right: 18px;
    font-size: min(max(14px, 3.5vw), 19px);
}

footer ul li:nth-child(2) i {
    font-size: min(max(12px, 3.1vw), 16px);
    margin-right: 14px;
}

footer li a {
    color: #e6e6e6;
}