form {
    background-color: #f6f6f6;
    padding: 0 0 45px 0;
    text-align: center;
}

.divSearch {
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    padding: 23px 0;
    color: #000000;
    font-size: min(max(18px, 4.5vw), 23px);
    background-color: #ede9e9;
}

.fa-map-marker-alt {
    font-size: min(max(20px, 4vw), 30px);
}

.zoneSearch {
    font-weight: 600;
    width: fit-content;
    margin-left: 10px;
    border: none;
    color: black;
    font-size: min(max(20px, 4vw), 24px);
    background-color: #ede9e9;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

form div:nth-child(2) {
    margin: 50px 12% 20px 12%;
}

h1 {
    text-align: center;
    font-size: min(max(22px, 5vw), 28px);
    font-weight: 800;
    width: 100%;
    margin: 15px 0;
}

main form div p {
    text-align: center;
    font-size: min(max(18px, 4.5vw), 24px);
    width: 100%;
    margin: 30px 0 50px 0;
}

/*********************fonctionnement***************************/
section {
    padding: 50px 6%;
}

h2 {
    font-size: min(max(22px, 5vw), 28px);
    font-weight: 800;
}

.sectionFonctionmt ul {
    padding: 0;
    position: relative;
}

.sectionFonctionmt ul li button {
    border: none;
    margin: 20px 0 20px 15px;
    height: 95px;
    width: calc(100% - 20px);
    border-radius: 25px;
    background-color: #f6f6f6;
    box-shadow: 0px 7px 11px 0px #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: min(max(17px, 4vw), 20px);
    font-weight: 700;

}

.sectionFonctionmt ul li button span {
    background-color: #9356dc;
    border-radius: 15px;
    padding: 4px 9px;
    color: white;
    position: absolute;
    left: 3px;
    font-weight: 300;
    font-size: min(max(16px, 3.5vw), 18px);
}

.sectionFonctionmt ul li button i {
    color: #7e7e7e;
    margin: 0 7% 0 7%;
}

.sectionFonctionmt ul li button:focus,
.sectionFonctionmt ul li button:focus i {
    /*après le clic*/
    background-color: #dbc4f86e;
    color: #9356dc;
}

.sectionFonctionmt ul li button:focus p {
    color: #000000;
}


/**********************Restaurant**************************/
h3 {
    font-size: min(max(19px, 4vw), 24px);
    font-weight: 700;
}

.sectionResto {
    background-color: #f6f6f6;
}

.sectionResto ul {
    padding: 0;
    margin: 0;
}

.sectionResto ul li {
    position: relative;
}

.nouveau {
    background-color: #7cdac2;
    color: #007a5c;
    width: fit-content;
    padding: 1% 2.5%;
    font-size: min(max(16px, 3vw), 22px);
    font-weight: 600;
    position: absolute;
    right: 20px;
    border-radius: 3px;
}

figure {
    background-color: white;
    height: 290px;
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 4px 12px 0 lightgrey;
    margin: 30px 0px;
}

figure img {
    border-radius: 11px 11px 0 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 195px;
}

figcaption {
    padding: 20px;
    color: black;
    height: 55px;
}

figcaption p {
    font-size: min(max(17px, 3.7vw), 21px);
    margin: 0;
}

/****************************media queries*****************************/
/********** pour tous les écrans de plus de 860px *******************/
@media screen and (min-width: 860px) {
    section {
        padding: 50px 3%;
        width: 94%;
    }

    h2 {
        max-width: 1300px;
        width: 100%;
        margin: auto;
        margin-bottom: 40px;
    }

    header img {
        width: 15%;
        max-width: 230px;
        margin: 20px 0 20px;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        max-width: 1300px;
        margin: auto;
    }

    .sectionFonctionmt ul li {
        width: 30%;
    }

    .sectionFonctionmt ul li button {
        width: 100%;
        height: 85px;
        margin: 0;
        font-size: min(max(15px, 1.5vw), 20px);
        padding: 0 5%;
        position: relative;
        justify-content: space-around;
    }

    .sectionFonctionmt ul li button span {
        position: absolute;
        left: -10px;
    }

    .sectionFonctionmt ul li button i {
        margin: 0 4%;
    }

    .sectionResto ul {
        margin: auto;
    }

    .sectionResto ul li {
        width: 47%;
    }

    figure {
        margin-top: 0;
    }

    .nouveau {
        top: 20px;
    }
}